# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/.vs/
/Source/x64/
/x64/
/Source/x86/
/x86/
/Debug/x86/
/Debug/x86/
/Source/Debug/
/Source/Release/